.title-word 
{
animation: color-animation 4s linear infinite;
}
.title-word-1 
{
--color-1: #9b9a9a;
--color-2: #047db1;
--color-3: #000000;
}
.title-word-2 
{
--color-1: #9b9a9a;
--color-2: #047db1;
--color-3: #000000;
}
.title-word-3 
{
--color-1: #9b9a9a;
--color-2: #047db1;
--color-3: #000000;
}
.title-word-4
{
--color-1: #9b9a9a;
--color-2: #047db1;
--color-3: #000000;
}
@keyframes color-animation 
{
0%    {color: var(--color-1)}
32%   {color: var(--color-1)}
33%   {color: var(--color-2)}
65%   {color: var(--color-2)}
66%   {color: var(--color-3)}
99%   {color: var(--color-3)}
100%  {color: var(--color-1)}
}
.container 
{
display: grid;
place-items: center;  
text-align: center;
height: 100vh
}
.title 
{
font-weight: 800;
font-size: 8.5vw;
text-transform: uppercase;
}
.video
{
width: 100%;
}
input
{
padding: 0.5rem;
padding-top: 0.3rem;
width: auto;
    &:focus
{
background-color: rgb(182, 181, 181);
}
}

input
{
margin: 1.5rem;
}
.form-control
{
    width: 80%;
}
.btn-primary 
{
margin-left: 1.5rem;
}


$contactodirecto:(
whatsapp: #128C7E,
telegram: #229ED9,
mensaje: white,
);

@each $contactodirecto, $color in $contactodirecto{
.a--#{$contactodirecto}
{
background-color: $color;
}
}

.uno{
width: 50%;
color: #fdfdfd;
font-size: xx-large;
font-style: oblique;
text-decoration: none;
text-align: center;
}


