.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link
{
    color: rgba(249, 248, 248, 0.9);
}

.navbar-light .navbar-nav .nav-link
{
    color: rgba(249, 248, 248, 0.9);
}

.navbar-light .navbar-brand {
    color: rgba(249, 248, 248, 0.9);
}