header
{
top: 0;
position: absolute;
position: sticky;
width: 100%;
a
{
text-decoration: none;
}
.navegador
{
background-color: rgb(88, 177, 225);
display: flex;
justify-content: center;
font-size: 1.5rem;
a
{
color: aliceblue;
margin: 0.5rem;
    &:hover
{
color: rgb(0, 0, 0);
}
}
}
}