.paginahistoria
{
main ul
{
line-height: 2rem;
}
.img--ria{
    filter: grayscale(100%);
align-self: center;
display: flex;
justify-content: center;
    &:hover
{
filter: none;
}
}
.img-magallanes
{
    @extend .img--ria
}

img
{
max-width: 100%;
}
.img-darwin
{
@extend .img--ria
}

.textohistoria{
    font-size: 2rem;
}
.phistoria
{
font-size: small;
padding: 0.6rem;
}
.historiatexto
{
    font-size: 2rem;
}
}
