.paginahistoria
{
main ul
{
line-height: 2rem;
}
.img-magallanes
{
filter: grayscale(100%);
align-self: center;
display: flex;
justify-content: center;
    &:hover
{
filter: none;
}

}
img
{
max-width: 100%;
}
.img-darwin
{
filter: grayscale(100%);
align-self: center;
display: flex;
justify-content: center;
    &:hover
{
filter: none;
}
}
.img-ria
{
filter: grayscale(100%);
display: flex;
justify-content: center;
    &:hover
{
filter: none;
}
}
.textohistoria{
    font-size: 2rem;
}
.phistoria
{
font-size: small;
padding: 0.6rem;
}
.historiatexto
{
    font-size: 2rem;
}

padding: 0.3rem;
}
