.avisoimportante
{
background-color: rgb(222, 250, 138);
.mainaviso
{
width: 100%;
display: flex;
justify-content: center;
}

.requisitos1{
    text-align: center;
    font-size: 28.4px;
    line-height: 46.4px;
}

.avisoli{
    line-height: 30px;
}
}
.mapa
{
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;
}

.carta
{
display: flex;
justify-content: center;
padding-top: 3rem;
padding-bottom: 3rem;
padding-left: 2rem;
}

.imgcarta
{
width: 100;
height: 50%;
}

.videoindex
{
display: flex;
justify-content: center;
padding-bottom: 2rem;
}


