@media screen and (max-width: 1023px)
{
.paginaprincipal
{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,147,152,1) 0%, rgba(248,255,253,1) 64%, rgba(231,231,237,1) 100%);
.avisoimportante
{
justify-content: center;
}
}
.paginahistoria
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,147,152,1) 0%, rgba(248,255,253,1) 64%, rgba(231,231,237,1) 100%);
.tx-magallanes h1
{
font-size: 1.2rem;
p
{
font-size: 0.8rem;
}
}
.tx-darwin
{
font-size: 0.8rem;
}
.tx-ria
{
font-size: 0.8rem;
}
}
.paginahoteles
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,147,152,1) 0%, rgba(248,255,253,1) 64%, rgba(231,231,237,1) 100%);
}
.paginaactividades
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,147,152,1) 0%, rgba(248,255,253,1) 64%, rgba(231,231,237,1) 100%);
}
.paginacontacto {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,147,152,1) 0%, rgba(248,255,253,1) 64%, rgba(231,231,237,1) 100%);
}
}
.navbar-light .navbar-brand {
font-size: 1rem;
}
@media screen and (max-width: 767px)
{
.paginaprincipal
{
.mapa
{
width: 100%;
}
.avisoimportante
{
h3
{
font-size: 0.8rem;
}
p 
{
font-size: 0.6rem;
line-height: 1.4rem;
}
ol li
{
font-size: 0.6rem;
line-height: 1.2rem;
}
}
}

.parallax
{
width: 100%;
min-height: 300px;
}
.paginahistoria
{
p
{
font-size: 0.6rem;
}
}
.tx-darwin
{
font-size: 0.6rem;
}
.tx-ria
{
font-size: 0.6rem;
}

.paginahoteles
{
.tx-hoteles h1
{
font-size: 0.9rem;
h2
{
font-size: 0.8rem;
}
ul
{
font-size: 0.6rem;
}
}
.tx-restaurantes h2
{
font-size: 0.8rem;
ul
{
font-size: 0.6rem;
}
}
}
.uno
{
width: 100%;
}

.invitacion
{
font-size: 2rem;
}

.historiadarwin
{
font-size: 1.2rem;
}
.historiaria
{
font-size: 1.2rem;
}
}