@media screen and (max-width: 1023px)
{
.paginaprincipal
{
.avisoimportante
{
justify-content: center;
}
}
.paginahistoria
{
p
{
font-size: 16px;
}
}
.tx-darwin
{
font-size: 16px;
}
.tx-ria
{
font-size: 16px;
}
}


.navbar-light .navbar-brand {
font-size: 16px;
}
@media screen and (max-width: 767px)
{
.paginaprincipal
{
.mapa
{
width: 100%;
}
.avisoimportante
{
h3
{
font-size: 16px;
}
p 
{
font-size: 16px;
line-height: 1.4rem;
}
ol li
{
font-size: 16px;
line-height: 1.2rem;
}
}
}

.parallax
{
width: 100%;
min-height: 300px;
}
.paginahistoria
{
p
{
font-size: 16px;
}
}
.tx-darwin
{
font-size: 16px;
}
.tx-ria
{
font-size: 16px;
}

.paginahoteles
{
.tx-hoteles h1
{
font-size: 16px;
h2
{
font-size: 16px;
}
ul
{
font-size: 16px;
}
}
.tx-restaurantes h2
{
font-size: 16px;
ul
{
font-size: 16px;
}
}
}
.uno
{
width: 100%;
}

.invitacion
{
font-size: 18px;
}

.historiadarwin
{
font-size: 16px;
}
.historiaria
{
font-size: 16px;
}
}

