@import "header";
@import "actividades";
@import "contacto";
@import "historia";
@import "index";
@import "hotelesyrestos";
@import "footer";
@import "mediaqueries";


*{
margin: 0;
font-family:'DM Sans', sans-serif;
}

html
{
min-height: 100%;
font-size: 62,5%; 
}

body
{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(231,231,237,1) 0%, rgba(248,249,255,1) 32%, rgba(18,129,152,1) 100%);
}

.parallax
{
width: 100%;
background-position-x: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 400px;
}

.parallax--img1
{
background-image:url("../imagenes/parallaxescudo1.jpg") ;
}
.parallax--img2
{
background-image:url("../imagenes/pinguinosposibleparallax.jpg") ;

}
.parallax--img3
{
background-image:url("../imagenes/gaviota2.jpg") ;
min-height: 360px;
}
.parallax--img4
{background-image:url("../imagenes/actividadesbote.jpg" );min-height: 400px;
}

a {
    color: #0dcaf0;
    text-decoration: underline;
}