header {
  top: 0;
  position: absolute;
  position: sticky;
  width: 100%; }
  header a {
    text-decoration: none; }
  header .navegador {
    background-color: #58b1e1;
    display: flex;
    justify-content: center;
    font-size: 1.5rem; }
    header .navegador a {
      color: aliceblue;
      margin: 0.5rem; }
      header .navegador a:hover {
        color: black; }

.listaactividades li {
  transition: transform .2s; }
  .listaactividades li:hover {
    color: #2ab0e6; }

.h1actividades {
  color: #2b5b92;
  text-decoration: underline; }

.title-word {
  animation: color-animation 4s linear infinite; }

.title-word-1 {
  --color-1: #fdfdfd;
  --color-2: #047db1;
  --color-3: #000000; }

.title-word-2 {
  --color-1: #fdfdfd;
  --color-2: #047db1;
  --color-3: #000000; }

.title-word-3 {
  --color-1: #fdfdfd;
  --color-2: #047db1;
  --color-3: #000000; }

.title-word-4 {
  --color-1: #fdfdfd;
  --color-2: #047db1;
  --color-3: #000000; }

@keyframes color-animation {
  0% {
    color: var(--color-1); }
  32% {
    color: var(--color-1); }
  33% {
    color: var(--color-2); }
  65% {
    color: var(--color-2); }
  66% {
    color: var(--color-3); }
  99% {
    color: var(--color-3); }
  100% {
    color: var(--color-1); } }

.container {
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh; }

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 8.5vw;
  text-transform: uppercase; }

.video {
  width: 100%; }

input {
  padding: 0.5rem;
  padding-top: 0.3rem;
  width: auto; }
  input:focus {
    background-color: #b6b5b5; }

.a--whatsapp {
  background-color: #128C7E; }

.a--telegram {
  background-color: #229ED9; }

.a--mensaje {
  background-color: white; }

.uno {
  width: 50%;
  color: #fdfdfd;
  font-size: xx-large;
  font-style: oblique;
  text-decoration: none;
  text-align: center; }

.paginahistoria main ul {
  line-height: 2rem; }

.paginahistoria .img--ria, .paginahistoria .img-magallanes, .paginahistoria .img-darwin {
  filter: grayscale(100%);
  align-self: center;
  display: flex;
  justify-content: center; }
  .paginahistoria .img--ria:hover, .paginahistoria .img-magallanes:hover, .paginahistoria .img-darwin:hover {
    filter: none; }

.paginahistoria img {
  max-width: 100%; }

.paginahistoria .textohistoria {
  font-size: 2rem; }

.paginahistoria .phistoria {
  font-size: small;
  padding: 0.6rem; }

.paginahistoria .historiatexto {
  font-size: 2rem; }

.historiamagallanes {
  font-size: 2.7rem;
  color: #2b5b92;
  font-family: 'DM Sans', sans-serif;
  text-decoration: underline;
  transition: transform .2s;
  text-align: center;
  width: auto; }
  .historiamagallanes:hover {
    transform: scale(1.1); }

.historiadarwin {
  font-size: 2.5rem;
  color: #127492;
  font-family: 'DM Sans', sans-serif;
  text-decoration: underline;
  transition: transform .2s;
  text-align: center;
  width: auto; }
  .historiadarwin:hover {
    transform: scale(1.1); }

.historiaria {
  font-size: 2rem;
  color: #189ac2;
  font-family: 'DM Sans', sans-serif;
  text-decoration: underline;
  transition: transform .2s;
  text-align: center;
  width: auto; }
  .historiaria:hover {
    transform: scale(1.1); }

.avisoimportante {
  background-color: darkgrey; }
  .avisoimportante .mainaviso {
    width: 100%;
    display: flex;
    justify-content: center; }
    .avisoimportante .mainaviso .aviso {
      display: flex;
      flex-direction: column; }
      .avisoimportante .mainaviso .aviso ol li {
        font-size: 1rem;
        line-height: 3rem;
        display: flex;
        align-self: center;
        margin: 0.2rem; }
    .avisoimportante .mainaviso p {
      font-size: 1rem;
      text-decoration: underline;
      padding-left: 0.2rem; }
    .avisoimportante .mainaviso h3 {
      font-size: 1.5rem;
      text-decoration: underline; }

.mapa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }

.invitacion {
  font-size: 2.7rem;
  color: #2b5b92;
  text-decoration: underline; }

.hoteles {
  font-size: 2rem;
  color: #189ac2;
  text-decoration: underline; }

.comida {
  font-size: 2rem;
  color: #189ac2;
  text-decoration: underline; }

.listahotelescomida li {
  transition: transform .2s; }
  .listahotelescomida li:hover {
    color: #2ab0e6; }

.zoom {
  transition: transform .2s; }
  .zoom:hover {
    transform: scale(1.2); }

@media screen and (max-width: 1023px) {
  .paginaprincipal {
    background-color: #dfe5e9; }
    .paginaprincipal .avisoimportante {
      justify-content: center; }
  .paginahistoria {
    background-color: #dfe5e9; }
    .paginahistoria .tx-magallanes h1 {
      font-size: 1.2rem; }
      .paginahistoria .tx-magallanes h1 p {
        font-size: 0.8rem; }
    .paginahistoria .tx-darwin {
      font-size: 0.8rem; }
    .paginahistoria .tx-ria {
      font-size: 0.8rem; }
  .paginahoteles {
    background-color: #dfe5e9; }
  .paginaactividades {
    background-color: #dfe5e9; }
  .paginacontacto {
    background-color: #dfe5e9; } }

@media screen and (max-width: 767px) {
  .paginaprincipal .mapa {
    width: 100%; }
  .paginaprincipal .avisoimportante h3 {
    font-size: 0.8rem; }
  .paginaprincipal .avisoimportante p {
    font-size: 0.6rem;
    line-height: 1.4rem; }
  .paginaprincipal .avisoimportante ol li {
    font-size: 0.6rem;
    line-height: 1.2rem; }
  .navegador a {
    font-size: 0.5rem; }
  .parallax {
    width: 100%;
    min-height: 300px; }
  .paginahistoria p {
    font-size: 0.6rem; }
  .tx-darwin {
    font-size: 0.6rem; }
  .tx-ria {
    font-size: 0.6rem; }
  .paginahoteles .tx-hoteles h1 {
    font-size: 0.9rem; }
    .paginahoteles .tx-hoteles h1 h2 {
      font-size: 0.8rem; }
    .paginahoteles .tx-hoteles h1 ul {
      font-size: 0.6rem; }
  .paginahoteles .tx-restaurantes h2 {
    font-size: 0.8rem; }
    .paginahoteles .tx-restaurantes h2 ul {
      font-size: 0.6rem; }
  .uno {
    width: 100%; }
  .invitacion {
    font-size: 2rem; }
  .historiadarwin {
    font-size: 1.2rem; }
  .historiaria {
    font-size: 1.2rem; } }

html {
  min-height: 100%; }

* {
  margin: 0;
  font-family: 'DM Sans', sans-serif; }

html {
  font-size: 62,5%; }

body {
  background: #785d05;
  background: linear-gradient(0deg, #785d05 0%, #ffd62d 100%); }

.parallax {
  background-attachment: fixed;
  width: 100%;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px; }

.parallax--img1 {
  background-image: url("../imagenes/parallaxescudo1.jpg"); }

.parallax--img2 {
  background-image: url("../imagenes/parallax2.jpg"); }

.parallax--img3 {
  background-image: url("../imagenes/parallax32.jpg");
  min-height: 360px; }

.parallax--img4 {
  background-image: url("../imagenes/ilustracion deportesagua.jpg");
  min-height: 400px; }
